<app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>

<div class="content-wrapper">
  <mat-card appearance="outlined" class="calendar-wrapper" style="width: 100%;">
    <div class="tools-panel-wrapper">
      <div class="tools-panel">
        <button (click)="prev()" color="default" class="tool-circle-button" mat-mini-fab><mat-icon class="icon">keyboard_arrow_left</mat-icon></button>
        <button (click)="next()" color="default" class="tool-circle-button" mat-mini-fab><mat-icon class="icon">keyboard_arrow_right</mat-icon></button>
        <button (click)="today()" class="tool-button" mat-flat-button>Hoy</button>
      </div>

      <div class="calendar-month-title">{{ currentMonthTitle }}</div>

      <div class="tools-panel">
        <button class="tool-button" [ngClass]="{'active': calendarView === calendarViewTypes.month}" mat-flat-button (click)="changeCalendarView(calendarViewTypes.month)">Mes</button>
        <button class="tool-button" [ngClass]="{'active': calendarView === calendarViewTypes.weeks}" mat-flat-button (click)="changeCalendarView(calendarViewTypes.weeks)">Semana</button>
      </div>
    </div>
    <full-calendar
      #calendar
      [options]="calendarOptions"
      [events]="events"
    ></full-calendar>
  </mat-card>
</div>
