<mat-list class="sidebar">
  <p class="sidebar-title">Módulos</p>

  <div class="mat-tree-item sidebar-top-item" routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
    <div>
      <mat-icon>home</mat-icon>
      <p>Inicio</p>
    </div>
  </div>

  <div class="mat-tree-item sidebar-top-item" routerLink="{{routes.PROJECTS_MANAGEMENT}}" routerLinkActive="active">
    <div>
      <mat-icon>construction</mat-icon>
      <p>Proyectos</p>
    </div>
  </div>

  <div class="mat-tree-item sidebar-top-item" routerLink="{{routes.CLIENTS_PAGE}}" routerLinkActive="active">
    <div>
      <mat-icon>people</mat-icon>
      <p>Clientes</p>
    </div>
  </div>

  <div class="mat-tree-item sidebar-top-item" routerLink="{{routes.COTIZACIONES_PAGE}}" routerLinkActive="active">
    <div>
      <mat-icon>request_quote</mat-icon>
      <p>Cotizaciones</p>
    </div>
  </div>

  <div class="mat-tree-item sidebar-top-item" routerLink="{{routes.PRODUCTS_PAGE}}" routerLinkActive="active">
    <div>
      <mat-icon>inventory_2</mat-icon>
      <p>Productos</p>
    </div>
  </div>

  <div class="mat-tree-item sidebar-top-item" routerLink="{{routes.LIQUIDACIONES_PAGE}}" routerLinkActive="active">
    <div>
      <mat-icon>payments</mat-icon>
      <p>Liquidaciones</p>
    </div>
  </div>

  <div class="mat-tree-item sidebar-top-item" routerLink="{{routes.WORKERS_PAGE}}" routerLinkActive="active">
    <div>
      <mat-icon>engineering</mat-icon>
      <p>Trabajadores</p>
    </div>
  </div>
</mat-list>

<div class="space"></div>
