<mat-toolbar class="header" color="primary">
  <div class="header__title">
    <button
      class="header__title-button"
      mat-mini-fab
      (click)="openMenu()"
      color="primary"
      >
      @if (!isMenuOpened) {
        <mat-icon class="header__title-button-icon"
          >menu</mat-icon
          >
        }
        @if (isMenuOpened) {
          <mat-icon class="header__title-button-icon"
            >arrow_back</mat-icon
            >
          }
        </button>
        <h6 class="header__title-text">Sistema Administrativo</h6>
      </div>

      <div class="header-toolbar">
        <button mat-icon-button (click)="goToCart()" class="cart-btn">
          <mat-icon
            [matBadge]="(cartCount$ | async) || 0"
            matBadgeColor="warn"
            matBadgeSize="small"
            [matBadgeHidden]="(cartCount$ | async) === 0"
          >shopping_cart</mat-icon>
        </button>
        <app-user [user]="user$ | async" (signOut)="signOut()"></app-user>
      </div>
    </mat-toolbar>
