<div class="auth-page">
  <div class="auth-page__content-block">
    <div class="auth-page__content-wrapper">
      <h4 class="auth-page__group-title">¡Bienvenido!</h4>

      <app-login-form (sendLoginForm)="sendLoginForm($event)"></app-login-form>

      <p class="auth-page__footer-title">© 2026 Constructora y remodelacion JM</p>
    </div>
  </div>
  <div class="auth-page__logo">
    <div class="auth-page__logo-wrapper">
      <img
        class="auth-page__logo-img"
        src="./assets/auth/logoJA.jpeg"
        alt="logo"
      />
      <h6 class="auth-page__logo-title">Sistema Administrativo</h6>
    </div>
  </div>
</div>
