
<app-breadcrumb [path]="routes.PRODUCTS"></app-breadcrumb>

<div class="search-wrapper">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Buscar productos...</mat-label>
    <input matInput (input)="onSearch($any($event.target).value)" placeholder="Escriba el nombre del producto">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<div class="products-wrapper">
  @for (product of (filteredProducts$ | async); track product.id) {
    <app-product-card class="product" [product]="product"></app-product-card>
  }
</div>
